contextlib2
GitPython
kafka_python
lxml
psutil
pytest
pywin32
semantic_version
six
aioca
pyepics
epicscorelibs
certifi  # Needed in order for requests to find https certificates
requests
python-msilib  # Short term hack, msilib is deprecated and removed from python (see https://peps.python.org/pep-0594/#msilib)
mysql-connector-python==9.1.0
