contextlib2
GitPython
kafka_python
lxml
psutil
pytest
pywin32
semantic_version
six
aioca
pyepics
epicscorelibs
certifi  # Needed in order for requests to find https certificates
requests
mysql-connector-python==8.4.0
