name: Push Event Workflow

on: [pull_request, workflow_call]
 
jobs:
  unit-testing:
    runs-on: windows-latest
   
    steps:
    - name : Checkout code
      uses : actions/checkout@v4

    - name: Setup python
      uses: actions/setup-python@v5
      with:
        python-version: '3.13'
     
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r ./installation_and_upgrade/requirements.txt
     
    - name : Run tests
      working-directory: ./installation_and_upgrade
      run: |
        pip install pytest
        python -m pytest